:root {
  /* fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* colors*/
  --main-black-color: #212121;
  --main-color: #757575;
  --nav-hover-color: #2196f3;
  --section-background-color: #2f303a;
}
