/* footer*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--section-background-color);
}

.footer-box {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  justify-content: space-around;
}

.footer__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;

  margin-bottom: 60px;

  &--last {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.footer__list {
  @extend %list;
}

.footer__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__link {
  @extend %link;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  &--white {
    color: #ffffff;
  }
}

.footer__title {
  color: white;
  margin-bottom: 20px;
}
