/* header */

.header {
  position: relative;

  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-container {
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.link--top-logo {
  @extend %link;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.link--bottom-logo {
  @extend %link;
  display: block;
  margin-bottom: 20px;
}

.logo__text {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  color: #2196f3;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }

  &--white {
    color: #ffffff;
  }
  &--black {
    color: #000000;
  }
}

.header__wrap {
  display: flex;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;

    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 95vh;

    padding: 48px 40px;

    background-color: #fff;
  }

  @media screen and (min-width: 768px) {
    align-items: center;
  }
}

.header__list-nav {
  @extend %list;
  padding: 0px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 84px;
  }
}

.header__list-contacts {
  @extend %list;
  padding: 0px;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.header__item-nav {
  position: relative;

  margin-right: 50px;

  &:last-child {
    margin-right: 0px;
  }
}
.header__item-contacts {
  position: relative;

  @media screen and (min-width: 1200px) {
    margin-right: 50px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.header__logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header__link:hover &,
  .header__link:focus & {
    fill: var(--nav-hover-color);
  }

  @media screen and (max-width: 479px) {
    display: none;
  }
}

.header__link {
  @extend %link;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--main-color {
    color: var(--main-color);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--nav-hover-color);
  }
}
