/* our team*/

.ourteam {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.ourteam__list {
  @extend %list;
  text-align: center;
}

.ourteam__item {
  display: inline-block;
  margin-right: 30px;
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-right: 0px;
  }
}

.ourteam__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ourteam__title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.03em;

  margin-bottom: 10px;

  color: #212121;
}

.ourteam__text {
  display: block;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--main-color);
}
