.socials__list {
  @extend %list;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.socials__logo {
  width: 20px;
  height: 20px;
  fill: #ffffff;

  &--grey {
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .socials__link:hover &,
    .socials__link:focus & {
      fill: #ffffff;
    }
  }
}
